header {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
  margin-top: 60px;
}

header:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.05);
  z-index: 25;
}

.mountain1 {
  position: absolute;
  bottom: -100px;
  width: 1500px;
  right: 0;
  z-index: 19;
}

.person {
  position: absolute;
  bottom: -150px;
  left: -30px;
  z-index: 20;
  width: 70%;
  object-fit: contain;
}

.mountain2 {
  position: absolute;
  width: 1100px;
  bottom: -100px;
  left: 0;
  z-index: 18;
}

.mountain3 {
  position: absolute;
  width: 900px;
  bottom: 150px;
  right: 0;
  z-index: 17;
}

.sky {
  position: absolute;
  width: 2100px;
  bottom: 250px;
  right: 0;
  object-fit: cover;
}

.hamburger-menu {
  width: 1.55rem;
  height: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bar {
  position: relative;
  width: 1.2rem;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  width: 1.55rem;
  height: 3px;
  right: 0;
  background-color: #fff;
  border-radius: 2px;
}

.bar:before {
  transform: translateY(-8px);
}

.bar:after {
  transform: translateY(8px);
}

.big-title {
  position: absolute;
  z-index: 30;
  line-height: 4rem;
  top: calc(50% - 2rem);
  width: 100%;
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  color: #fff;
}
.big-title::before {
  position: absolute;
  margin-top: 60px;
  margin-left: 350px;
  font-size: 2rem;
  content: "Nidhi Limited";
}
.small-title {
  position: absolute;
  z-index: 30;
  line-height: 4rem;
  top: calc(80% - 2rem);
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  color: #fff;
}

section {
  width: 100%;
  position: relative;
}

section .container {
  background-image: url(coin.png);
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}

section .container > * {
  margin: 2rem;
}

.content {
  color: var(--main-color);
  text-align: justify;
}

.title {
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  position: relative;
  color: var(--main-color);
}

.border {
  position: absolute;
  width: 0%;
  height: 5px;
  background-color: var(--main-color);
  bottom: 0;
  left: 0;
}
.imgContainer {
  text-align: center;
}
.parallax-logo {
  width: 250px;
}
.shadow {
  position: absolute;
  margin-top: -50px;
  bottom: 100%;
  height: 100px;
  width: 100%;
  left: 0;
  z-index: 20;
  background: linear-gradient(to top, rgba(146, 85, 38, 0.5));
}

.opacity {
  opacity: 1;
}

@media (max-width: 850px) {
  section .container {
    grid-template-columns: 1fr;
  }

  .person {
    position: absolute;
    bottom: -80px;
    left: -70px;
    z-index: 20;
    width: 120%;
    object-fit: cover;
  }
  .text {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  .big-title {
    top: calc(30% -2rem);
    font-size: 2rem;
  }
  .big-title::before {
    position: absolute;
    margin-top: 30px;
    margin-left: 190px !important;
    font-size: 1rem;
    content: "Nidhi Limited";
  }

  .text {
    font-size: 1rem;
  }

  .title {
    font-size: 1.8rem;
  }
}
